{% extends 'base.html' %}
{% block conteudo %}

<body>
  <div class="container col-11 col-md-9" id="form-container">
   <div class="row align-items-center gx-5">
       <div class="col-md-6 order-md-2">
           <h2> Faça o Login para continuar </h2>
           <form action="" method="post">
               <div class="form-floating mb3">
                 <input type="email" class="form-control" name="email" placeholder="Digite seu email">
                   <label for="email" class="form-label">Digite o seu email </label>
               </div>
               <div class="form-floating mb3">
                   <input type="password" class="form-control" name="password" placeholder="Digite sua senha">
                     <label for="password" class="form-label">Digite sua senha </label>
                 </div>
                 <input type="submit" class="btn btn-primary" value="Entrar">
           </form>
       </div>
       <div class="col-md-6 order-md-1">
           <div class="col-12">
               <img src="static/img/undraw_secure_login_pdn4.png" alt="Entrar no Sistema" class="img-fluid">
           </div>
           <div class="col-12" id="link-container">
               <a href="{{url_for('login.register')}}"> Ainda não tenho cadastro</a>
           </div>
       </div>
   </div>
  </div>
</body>


{% endblock conteudo %}